bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/DesignTimeBuild/
/FileContentIndex/
.vs/GoogleCloudTTS/v17/.suo
.vs/GoogleCloudTTS/v17/DocumentLayout.backup.json
.vs/GoogleCloudTTS/v17/DocumentLayout.json
.vs/ProjectEvaluation/googlecloudtts.metadata.v6.1
.vs/ProjectEvaluation/googlecloudtts.projects.v6.1
GoogleCloudTTS.UI/Properties/PublishProfiles/FolderProfile.pubxml.user
/CopilotIndices/
