bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/GoogleCloudTTS/DesignTimeBuild/.dtbcache.v2
.vs/GoogleCloudTTS/FileContentIndex/1a7bb2a3-71e2-48cc-a7cd-92ac61f18d6f.vsidx
.vs/GoogleCloudTTS/FileContentIndex/376b7874-5802-4b85-b4e9-e00a22e79ad3.vsidx
.vs/GoogleCloudTTS/FileContentIndex/4d1789dd-4259-4581-9561-f10ccddf134b.vsidx
.vs/GoogleCloudTTS/FileContentIndex/ec3622b9-b165-46ea-8052-29b13ed9476e.vsidx
.vs/GoogleCloudTTS/FileContentIndex/read.lock
.vs/GoogleCloudTTS/v17/.suo
.vs/GoogleCloudTTS/v17/DocumentLayout.backup.json
.vs/GoogleCloudTTS/v17/DocumentLayout.json
.vs/ProjectEvaluation/googlecloudtts.metadata.v6.1
.vs/ProjectEvaluation/googlecloudtts.projects.v6.1
GoogleCloudTTS.UI/Properties/PublishProfiles/FolderProfile.pubxml.user
